.main-container {
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.links {
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

a {
  margin: 10px;
}

.title-img {
  height: 200px;
  width: 100%;
}

.sub-title {
  display: flex;
  justify-content: center;
}

.under-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 200px;
}

.info {
  margin-left: 100px;
}
